%h1 Listing messages

%table
  %tr
    %th From
    %th To
    %th Subject
    %th Body
    %th Date
    %th Status
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.from
      %td= message.to
      %td= message.subject
      %td= message.body
      %td= message.date
      %td= message.status
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Message', new_message_path
