%p#notice= notice

%p
  %b From:
  = @message.from
%p
  %b To:
  = @message.to
%p
  %b Subject:
  = @message.subject
%p
  %b Body:
  = @message.body
%p
  %b Date:
  = @message.date
%p
  %b Status:
  = @message.status

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
