= form_for @assert_account do |f|
  -if @assert_account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assert_account.errors.count, "error")} prohibited this assert_account from being saved:"
      %ul
        - @assert_account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
