%h1 Send Items

%table{:cellpadding => 5, :border => 1}
  %tr
    %th To
    %th Subject
    %th Date
    %th
    %th
    - @send_items.each do |x|
      %tr
        %td= x.to
        %td= x.subject
        %td= x.date
        %td= link_to "View Message", "/sendbox/#{x.id}"
        %td= link_to "Delete", x, :confirm => "are you sure", :method => :delete
