%h1 Inbox

%table{:cellpadding => 5, :border => 1 }
  %tr
    %th From
    %th Subject
    %th
    %th
    - @sample.each do |x|
      %tr
        %td= x.from
        %td= x.subject
        %td= link_to "View", "/inbox/#{x.id}"
        %td= link_to "destroy" 
        
