= semantic_form_for @cashflow do |f|
  = f.inputs do 
    = f.input :from, :as => :select, :collection => [ [AssertAccount.all], [Expense.all]  ]
    = f.input :to, :as => :select, :collection => [ [AssertAccount.all], [Expense.all]  ]
    = f.input :amount 
    = f.input :date 
    = f.input :description 
  = f.buttons
  
