%h1 Journal Entries
%table{:cellpadding => 5, :border => 1}
  %tr
    %th Date
    %th Account
    %th Debit
    %th Credit
  - @book.each do |x|  
    %tr
      %td= x.date
      %td= Account.find(x.to.to_i).account_type
      %td= number_to_currency(x.amount)
      %td= ""
      %tr
        %td= x.date
        %td= Account.find(x.from.to_i).account_type
        %td= ""
        %td= number_to_currency(x.amount)
        %tr
   
