<!DOCTYPE html>
<html>
  <head>
    <title>Messaging</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if user_signed_in? %>
    <%= link_to "Home", root_url %> |
<!--    <%#= link_to "Message", messages_path %> | -->
    <%= link_to "Create Message", new_message_path %> |
    <%= link_to "Inbox", '/inbox/index' %> |
    <%= link_to "Send", '/sendbox/index' %> |

    <%= link_to "My settings", edit_user_registration_path %> |
    <%= link_to "Sign Out", destroy_user_session_path %>
    Currently singned in as :    <%= current_user.email %>
    <% else %>
    <% end %>

    <%= yield %>
    
   |  <%= link_to "Accounts", accounts_path %> |
    <%= link_to "journals", journals_path %>
  </body>
</html>
