= form_for @account do |f|
  -if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :account_type
    = f.text_field :account_type
  .field
    = f.label :balance
    = f.text_field :balance
  .field
    = f.label :date
    = f.date_select :date
  .actions
    = f.submit 'Save'
